# Dependencies
node_modules

# Build output
docs/.vitepress/dist

# Cache
docs/.vitepress/cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Workbuddy
.workbuddy/


# Temporary files
temp
*.tmp
*.temp
.cache/
.DS_Store